@page
@using DataLayer.Entities.Users;
@model Web.Pages.Admin.Course.CreateCourseModel
@{
    ViewData["Title"] = "Create New Course";
    User teacher = ViewData["Teachers"] as User;
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Create New Course</h1>
    </div>
</div>
@if (ViewData["IsSuccess"] != null)
{
    <div class="alert alert-danger">
        <p class="help-block">The operation failed</p>
    </div>
}
<form method="post" enctype="multipart/form-data" dir="ltr">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Course Info
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->



                    <div class="form-group col-md-8">
                        <label>Course Title :</label>
                        <input type="text" asp-for="Course.CourseTitle" class="form-control">
                        <span asp-validation-for="Course.CourseTitle" class="text-danger"></span>
                    </div>


                    <div class="form-group col-md-5">
                        <label>Main Group:</label>
                        <select asp-for="Course.GroupId" asp-items="@(ViewData["Groups"] as SelectList)" class="form-control">
                        </select>
                        <span asp-validation-for="Course.GroupId" class="text-danger"></span>
                    </div>


                    <div class="form-group col-md-5">
                        <label>Sub Group :</label>
                        <select asp-for="Course.SubGroupId" asp-items="@(ViewData["SubGroups"] as SelectList)" class="form-control">
                        </select>
                        <span asp-validation-for="Course.SubGroupId" class="text-danger"></span>
                    </div>


                    <div class="form-group col-md-5">
                        <label>Teacher :</label>
                        <input type="text" class="form-control" readonly
                               value="@(((teacher.FirstName+teacher.LastName)!=null)? (teacher.FirstName + " " + teacher.LastName) : teacher.UserName )">
                        <input type="hidden" asp-for="Course.TeacherId" value="@teacher.UserId" />
                    </div>


                    <div class="form-group col-md-11">
                        <label>Course Description :</label>
                        <textarea asp-for="Course.CourseDescription" class="form-control" rows="20"></textarea>
                        <span asp-validation-for="Course.CourseDescription" class="text-danger"></span>
                    </div>


                    <div class="form-group col-md-5">
                        <label>Course Price :</label>
                        <input type="number" asp-for="Course.CoursePrice" class="form-control">
                        <span asp-validation-for="Course.CoursePrice" class="text-danger"></span>
                    </div>


                    <div class="form-group col-md-8">
                        <label> Course Demo File :</label>
                        <input type="file" name="demoUp">
                        <span asp-validation-for="Course.CourseDemoFileName" class="text-danger"></span>
                    </div>


                    <div class="form-group col-md-8">
                        <label>Tags : </label>
                        <input type="text" asp-for="Course.Tags" class="form-control">
                        <p class="help-block">Separate words with "-".</p>
                        <span asp-validation-for="Course.Tags" class="text-danger"></span>
                    </div>


                </div>
                <!-- /.panel-body -->


            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Course Image
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <div class="form-group">
                                <img src="/CourseImage/image/No-Photo.jpg" class="thumbnail" id="imgCourse"
                                     alt="Course Imag" title="Course Image" style="max-width:100%;" />
                            </div>
                            <div class="form-group">
                                <label>Choise Image :</label>
                                <input asp-for="Course.CourseImageName" name="ImgeUp" type="file">
                                <span asp-validation-for="Course.CourseImageName" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>




                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Level & Status
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->



                            <div class="form-group col-md-12">
                                <label>Course Level :</label>
                                <select asp-for="Course.LevelId" as SelectList)" class="form-control">
                                    <option>Selected</option>
                                    <option value="1">Advanced</option>
                                    <option value="2">Intermediate</option>
                                    <option value="3">Foundation</option>
                                </select>
                                <span asp-validation-for="Course.LevelId" class="text-danger"></span>
                            </div>


                            <div class="form-group col-md-12">
                                <label>Course Status :</label>
                                <select asp-for="Course.StatusId" as SelectList)" class="form-control">
                                    <option>Selected</option>
                                    <option value="1">In progress</option>
                                    <option value="2">Finished</option>
                                    <option value="3">Canseled</option>
                                    <option value="4">Not Started</option>
                                    <option value="5">Invisible</option>

                                </select>
                                <span asp-validation-for="Course.StatusId" class="text-danger"></span>
                            </div>




                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-2">
            <input type="submit" class="btn btn-success" value="Create Course" />
        </div>
    </div>
</form>



@section Scripts{
    <script>

        $("#Course_GroupId").change(function () {
            $("#Course_SubGroupId").empty();
            $.getJSON("/Home/GetSubGroups/" + $("#Course_GroupId :selected").val(),
                function (data) {
                    $.each(data,
                        function () {
                            $("#Course_SubGroupId").append('<option value=' + this.value + '>' + this.text + '</option>');
                        });

                });
        });



        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgCourse').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#Course_CourseImageName").change(function () {
            readURL(this);
        });
    </script>

    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script>

        CKEDITOR.replace('Course_CourseDescription', {
            customConfig: '/js/Config.js'
        });

    </script>
}