@model Core.DTOs.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Password recovery";
}


<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">UPCode</a></li>
            <li class="breadcrumb-item active" aria-current="page">Password recovery</li>
        </ul>
    </nav>
</div>



<main class="client-page">
    <div class="container-content">

        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success">
                <p class="help-block">Password recovery email was sent to your email!</p>
            </div>
            <script>
                // Your delay in milliseconds
                var delay = 5000;
                setTimeout(function () { window.location = "/"; }, delay);
            </script>
        }
        else if (ViewBag.IsSuccess == false)
        {
            <div class="alert alert-danger">
                <p class="help-block">The information entered is not correct!</p>
            </div>
        }


        <header><h2> Password recovery </h2></header>

        <div class="form-layer">

            <form asp-action="ForgotPassword" method="post">


                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="@Model.Email" type="email" class="form-control" placeholder="Email " aria-describedby="email-address">
                </div>
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                <br />
                <button class="btn btn-success"> Accept and send </button>

            </form>
        </div>

    </div>
</main>