@using Core.DTOs;
@{
    ViewData["Title"] = "Index";
}

@section SearchBox{
    <header>
        <a href="" class="logo"><img src="/images/logo.png"></a>
        <h1> Teaching self-taught UPCode with experienced and experienced professors, </h1>
        <h2> gaining experience and becoming a job marketer </h2>
        <h3> Learn by yourself at the lowest cost. </h3>
    </header>
    <div class="search-form">
        <form>
            <input type="text" name="" placeholder="What do you like to learn?">
            <button><i class="zmdi zmdi-search"></i></button>
        </form>
    </div>
}

<main id="home-page">
    <div class="container">
        <section class="terms-items">
            <header>
                <h2> Latest UPCode courses </h2>
                <a href=""> View all courses </a>
            </header>

            @{
                List<ShowCourseListItemViewModel> lastestCourse = ViewBag.LastestCourse as List<ShowCourseListItemViewModel>;
            }
            <div class="row">
                <!-- col -->
                @if (lastestCourse != null)
                {
                    @foreach (var item in lastestCourse)
                    {
                        <partial name="_BoxCourse" model="@item" />
                    }
                }
                <!-- /col -->
            </div>
        </section>

        <hr>

        <section class="terms-items">
            <header>
                <h2> Popular UPCode courses </h2>
                <a href=""> View all courses </a>
            </header>

            @{
                List<ShowCourseListItemViewModel> pubulerCourse = ViewBag.PopularCourse as List<ShowCourseListItemViewModel>;
            }
            <div class="row">
                <!-- col -->
                @if (pubulerCourse != null)
                {
                    @foreach (var item in pubulerCourse)
                    {
                        <partial name="_BoxCourse" model="@item" />
                    }
                }
                <!-- /col -->
            </div>
        </section>
    </div>
</main>