@{
    ViewData["Title"] = "Index";
}

@section SearchBox{
    <header>
        <a href="" class="logo"><img src="/images/logo.png"></a>
        <h1> Teaching self-taught UPCode with experienced and experienced professors, </h1>
        <h2> gaining experience and becoming a job marketer </h2>
        <h3> Learn by yourself at the lowest cost. </h3>
    </header>
    <div class="search-form">
        <form>
            <input type="text" name="" placeholder="What do you like to learn?">
            <button><i class="zmdi zmdi-search"></i></button>
        </form>
    </div>
}

<main id="home-page">
    <div class="container">
        <section class="terms-items">
            <header>
                <h2> Latest UPCode courses </h2>
                <a href=""> View all courses </a>
            </header>
            <div class="row">
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/1.jpg"></a>
                        <h2><a href=""> Teaching Material Design in Xamarin </a></h2>
                        <span> Free </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/2.jpg"></a>
                        <h2><a href=""> Teaching Material Design in Xamarin </a></h2>
                        <span> Free </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/3.jpg"></a>
                        <h2><a href=""> Teaching Material Design in Xamarin </a></h2>
                        <span> 150.000 $ </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/4.jpg"></a>
                        <h2><a href=""> Teaching Material Design in Xamarin </a></h2>
                        <span> Free </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/5.jpg"></a>
                        <h2><a href=""> Teaching Material Design in Xamarin </a></h2>
                        <span> 15.000 $ </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/6.jpg"></a>
                        <h2><a href=""> Teaching Material Design in Xamarin </a></h2>
                        <span> Free </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/7.jpg"></a>
                        <h2><a href=""> Teaching Material Design in Xamarin </a></h2>
                        <span> 20.000 $ </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/8.jpg"></a>
                        <h2><a href=""> Teaching Material Design in Xamarin </a></h2>
                        <span> 75.000 $ </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
            </div>
        </section>

        <hr>

        <section class="terms-items">
            <header>
                <h2> Popular UPCode courses </h2>
                <a href=""> View all courses </a>
            </header>
            <div class="row">
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/1.jpg"></a>
                        <h2><a href=""> Teaching Material Design in Xamarin </a></h2>
                        <span> Free </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/2.jpg"></a>
                        <h2><a href=""> Teaching Material Design in Xamarin </a></h2>
                        <span> Free </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/3.jpg"></a>
                        <h2><a href=""> Teaching Material Design in Xamarin </a></h2>
                        <span> 150.000 $ </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/4.jpg"></a>
                        <h2><a href=""> Teaching Material Design in Xamarin </a></h2>
                        <span> Free </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/5.jpg"></a>
                        <h2><a href=""> Teaching Material Design in Xamarin </a></h2>
                        <span> 15.000 $ </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/6.jpg"></a>
                        <h2><a href=""> Teaching Material Design in Xamarin </a></h2>
                        <span> Free </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/7.jpg"></a>
                        <h2><a href=""> Teaching Material Design in Xamarin </a></h2>
                        <span> 20.000 $ </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/8.jpg"></a>
                        <h2><a href=""> Teaching Material Design in Xamarin </a></h2>
                        <span> 75.000 $ </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
            </div>
        </section>
    </div>
</main>