@using Core.Servises.Interfaces;
@inject IPermissionService _permissionService;

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> UPCode Admin Panel | @ViewData["Title"]</title>

    <!-- Core CSS - Include with every page -->
    <link href="/AdminContent/css/bootstrap.css" rel="stylesheet">
    <link href="/AdminContent/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="/AdminContent/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="/AdminContent/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="/AdminContent/css/sb-admin.css" rel="stylesheet">

    <script src="/js/jquery.min.js"></script>
</head>

<body>
    <script src="/js/modernizr-custom.js"></script>

    <div id="wrapper" dir="rtl">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">UPCode</a>
            </div>
            <!-- /.navbar-header -->



            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/Admin"><i class="fa fa-dashboard fa-fw"></i> Admin Panel</a>
                        </li>
                        @if (_permissionService.CheckPermission(2, User.Identity.Name))
                        {
                            <li>
                                <a href="#"><i class="fa fa-user fa-fw"></i> User Management<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="/Admin/User">User</a>
                                    </li>
                                    @if (_permissionService.CheckPermission(6, User.Identity.Name))
                                    {
                                        <li>
                                            <a href="/Admin/User/DeletedUser">Deleted User</a>
                                        </li>
                                    }
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        }
                        @if (_permissionService.CheckPermission(13, User.Identity.Name))
                        {
                            <li>
                                <a href="/Admin/Course"><i class="fa fa-home fa-fw"></i> Course Management</a>
                                <!-- /.nav-second-level -->
                            </li>
                        }
                        @if (_permissionService.CheckPermission(2, User.Identity.Name))
                        {
                            <li>
                                <a href="/Admin/Role"><i class="fa fa-users fa-fw"></i> Role Management</a>
                                <!-- /.nav-second-level -->
                            </li>
                        }
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">

            @RenderBody()

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Core Scripts - Include with every page -->
    <script src="/AdminContent/js/jquery-1.10.2.js"></script>
    <script src="/AdminContent/js/bootstrap.min.js"></script>
    <script src="/AdminContent/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="/AdminContent/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="/AdminContent/js/plugins/morris/morris.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="/AdminContent/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <script src="/AdminContent/js/demo/dashboard-demo.js"></script>



    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.min.js"></script>

    @RenderSection("Scripts",false)
</body>

</html>