<footer>
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <header><h4> quick access</h4></header>
                        <ul>
                            <li><a href="">View all courses</a></li>
                            <li><a href="">Rules for buying from the site </a></li>
                            <li><a href="">Guide to buying from the site </a></li>
                            <li><a href="">Cooperation with UPCode </a></li>
                            <li><a href="">Earn money from UPCode </a></li>
                            <li><a href="">Web Design Monthly</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <header><h4> quick access</h4></header>
                        <ul>
                            <li><a href="">View all courses</a></li>
                            <li><a href="">Rules for buying from the site </a></li>
                            <li><a href="">Guide to buying from the site </a></li>
                            <li><a href="">Cooperation with UPCode </a></li>
                            <li><a href="">Earn money from UPCode </a></li>
                            <li><a href="">Web Design Monthly</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <header><h4> quick access</h4></header>
                        <ul>
                            <li><a href="">View all courses</a></li>
                            <li><a href="">Rules for buying from the site </a></li>
                            <li><a href="">Guide to buying from the site </a></li>
                            <li><a href="">Cooperation with UPCode </a></li>
                            <li><a href="">Earn money from UPCode </a></li>
                            <li><a href="">Web Design Monthly</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <header><h4> quick access</h4></header>
                        <ul>
                            <li><a href="">View all courses</a></li>
                            <li><a href="">Rules for buying from the site </a></li>
                            <li><a href="">Guide to buying from the site </a></li>
                            <li><a href="">Cooperation with UPCode </a></li>
                            <li><a href="">Earn money from UPCode </a></li>
                            <li><a href="">Web Design Monthly</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</footer>