<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en-us">
<head>
    <meta charset="UTF-8">
    <title> UPCode | @ViewData["Title"] </title>

    <!----- Partial Meta Tags----->
    <partial name="/Views/Shared/Reference/_MetaTag.cshtml" />

    <!----- Partial Style Sheet----->
    <partial name="/Views/Shared/Reference/_StyleSheet.cshtml" />

    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <script src="/js/modernizr-custom.js"></script>

    <div class="landing-layer">
        <div class="container">
            <nav>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <ul>
                            <li>
                                <a href=""> Cooperation in sales </a>
                                <a href=""> About us </a>
                                <a href=""> Contact us </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="clientarea">
                            <div class="loggein  hidden">
                                <i class="zmdi zmdi-account"></i><a href=""> sdy2000 ، Welcome </a>
                            </div>
                            <div class="signin">
                                <i class="zmdi zmdi-account"></i>
                                <a href="/Login"> Login </a> /
                                <a href="/Register"> Sing up </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            @RenderSection("SearchBox",false)
        </div>
    </div>

    <!-- main manu -->
    <partial name="/Views/Shared/Reference/_MainManu.cshtml" />
    <!-- /main manu -->
    <!-- content -->
    @RenderBody()
    <!-- /content -->
    <!-- footer -->
    <partial name="/Views/Shared/Reference/_Footer.cshtml" />
    <!-- /footer -->

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
